@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?6hvdb');
  src:  url('fonts/icomoon.eot?6hvdb#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?6hvdb') format('truetype'),
    url('fonts/icomoon.woff?6hvdb') format('woff'),
    url('fonts/icomoon.svg?6hvdb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
/* common style for button */
button{
  font-weight: bold;
  font-size: 1.5rem;
  border: solid 2px #8e857b;
  background-image: linear-gradient(to left, #ef9544, #f2af64);
  background-color: #f1ac5f;
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  align-items: center;
}
/* ==== first button ==== */
.first-button span{
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 1rem;
  position: relative;
}

.first-button span::before, .first-button span::after{
  content: "";
  display: block;
  width: .25rem;
  height: 1.9rem;
  background-color: #000;
  position: absolute;
  right: 50%;
  top: 50%;
}
.first-button span::before{
  transform: translate(50%, -50%) rotate(-45deg);
}
.first-button span::after{
  transform: translate(50%, -50%) rotate(45deg);
}

/* ==== second button ==== */
.second-button::after{
  font-family: 'icomoon' !important;
  font-size: 2.5rem;
  content: "\e900";
  line-height: 4.5rem;
  display: block;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #fff;
  border-radius: 100%;
  margin-left: 1rem;
}